.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto ;
}
input{
    width: auto;
    font-size: 32px;
    border: 4px solid rgb(187, 218, 76);
    border-radius: 21px; 
}
button{
    font-size: 23px;
    width: 94px;
    height: 56px;
    background: rgb(164, 201, 212);
    border-radius: 21px; 
    border: rgb(29, 59, 70) 2px;
  
}

.calculator{
    display: inline-block;
    background-color: blueviolet;
    padding: 23px;
    border-radius: 21px; 
    border: 4px solid rgb(187, 218, 76);

}